# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

version: '3'
services:
  pulsebot:
    build:
      context: ./
      dockerfile: ./Dockerfile
    environment:
      - PULSE_USER=USER
      - PULSE_PASSWORD=PASSWORD
      - PULSE_APPLABEL=APPLABEL
      - PULSE_MAX_CHECKINS=10
      - BUGZILLA_SERVER=https://bugzilla.mozilla.org
      - BUGZILLA_API_KEY=APIKEY
      - BUGZILLA_PULSE=integration/autoland,mozilla-central,hgcustom/version-control-tools,mozilla-build,automation/conduit,comm-central,ci/ci-configuration,ci/ci-admin,ci/taskgraph,projects/nss
      - BUGZILLA_UPLIFT=releases/mozilla-release,releases/mozilla-beta,releases/mozilla-esr
      - BUGZILLA_LEAVE_OPEN=integration/*,mozilla-central,projects/*,ci/*
      - GITHUB=mozilla-firefox/firefox:integration/autoland|mozilla-central|releases/mozilla-release|releases/mozilla-beta|releases/mozilla-esr
